.prad-tooltip-container {
	display: inline-block;
	position: relative;
	font-family: sans-serif;
	&:hover .prad-tooltip-box {
		opacity: 1;
		transform: translateY(-50%) translateX(0);
	}
	.prad-tooltip-icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #000000;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		cursor: pointer;
	}
	.prad-tooltip-box {
		position: absolute;
		top: 50%;
		left: 150%;
		transform: translateY(-50%) translateX(-10px);
		background: #333;
		color: #fff;
		padding: 6px 10px;
		border-radius: 4px;
		font-size: 12px;
		white-space: nowrap;
		opacity: 0;
		pointer-events: none;
		transition:
			opacity 0.3s ease,
			transform 0.3s ease;
		white-space: normal;
		max-width: 400px;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 100%;
			margin-top: -5px;
			border-width: 6px;
			border-style: solid;
			border-color: transparent #333 transparent transparent;
		}
	}
}
