.prad-m {
	&-auto {
		margin: 0 auto !important;
	}
	&-2 {
		margin: 2px !important;
	}
	&-0 {
		margin: 0px !important;
	}
	&t {
		&-56 {
			margin-top: 56px !important;
		}
		&-48 {
			margin-top: 48px !important;
		}
		&-40 {
			margin-top: 40px !important;
		}
		&-32 {
			margin-top: 32px !important;
		}
		&-24 {
			margin-top: 24px !important;
		}
		&-20 {
			margin-top: 20px !important;
		}
		&-18 {
			margin-top: 18px !important;
		}
		&-16 {
			margin-top: 16px !important;
		}
		&-14 {
			margin-top: 14px !important;
		}
		&-12 {
			margin-top: 12px !important;
		}
		&-10 {
			margin-top: 10px !important;
		}
		&-8 {
			margin-top: 8px !important;
		}
		&-6 {
			margin-top: 6px !important;
		}
		&-4 {
			margin-top: 4px !important;
		}
		&-0 {
			margin-top: 0px !important;
		}
	}
	&b {
		&-64 {
			margin-bottom: 64px !important;
		}
		&-56 {
			margin-bottom: 56px !important;
		}
		&-48 {
			margin-bottom: 48px !important;
		}
		&-40 {
			margin-bottom: 40px !important;
		}
		&-32 {
			margin-bottom: 32px !important;
		}
		&-24 {
			margin-bottom: 24px !important;
		}
		&-20 {
			margin-bottom: 20px !important;
		}
		&-18 {
			margin-bottom: 18px !important;
		}
		&-16 {
			margin-bottom: 16px !important;
		}
		&-14 {
			margin-bottom: 14px !important;
		}
		&-12 {
			margin-bottom: 12px !important;
		}
		&-10 {
			margin-bottom: 10px !important;
		}
		&-8 {
			margin-bottom: 8px !important;
		}
		&-6 {
			margin-bottom: 6px !important;
		}
		&-4 {
			margin-bottom: 4px !important;
		}
		&-0 {
			margin-bottom: 0px !important;
		}
	}
	&l {
		&-auto {
			margin-left: auto !important;
		}
		&r {
			&-16 {
				margin-left: 16px !important;
				margin-right: 16px !important;
			}
		}
		&-12 {
			margin-left: 12px !important;
		}
	}
	&r {
		&-auto {
			margin-right: auto !important;
		}
		&-12 {
			margin-right: 12px !important;
		}
	}
}
