// Shadow utilities
.prad-shadow {
	&-primary {
		box-shadow: 0px 2px 4px 0px var(--prad-color-shadow-primary);
		&-dark {
			box-shadow: 0px 2px 4px 0px var(--prad-color-shadow-primary-dark);
		}
	}
	&-tertiary {
		box-shadow: 0px 2px 4px 0px var(--prad-color-shadow-tertiary);
		&-medium {
			box-shadow: 0px 2px 4px 0px var(--prad-color-shadow-medium-tertiary);
		}
		&-deep {
			box-shadow: 0px 2px 4px 0px var(--prad-color-shadow-deep-tertiary);
		}
	}
	&-none {
		box-shadow: none;
	}
}
